h1, h2, h3, h4 {
    text-align: center;
}

.about {
    height: 80vh;
}

p {
    text-align: right;
}

.greeting {
    position: absolute;
    right: 5em;
    top: 5em;
}

.center {
    margin: auto;
}